@media (max-width: 900px) {
    
    body {
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: #fff;
        color: #4e272b;
        line-height: 1.6;
        overflow-x: hidden;
    }
    
    header {
        background-color: #ffffff;
        width: 100%;
    }

    .hero-content {
        display: flex;
        justify-content: center;
        animation: fadeIn 1s ease-in-out;
        border-radius: 10px;
        width: 100%;
    }

    #area-img {
        overflow-x: hidden;
        display: flex;
        flex-direction: row;
        background-color: #eedcde;
    }
    #img1{
        width: 100%;
    }
    #img2{
        display: none;
    }
    .hero-text{
        width: 50%;
        color: #c91427;
        text-align: right;
        position: absolute;
        right: 20px;
        top:50px;
    }
    .hero-text h1 {
        font-size: 25pt;
        font-weight: bold;
        margin-bottom: 0px;
    }
    .hero-text p{
        font-size: 12pt;
        font-weight: bold;
        margin-bottom: 0px;
        display: none;
    }
    #texto-complem_mobile{
        display: block;
        background-color: #c91427;
        animation: fadeIn 1s ease-in-out;
        margin-top: -5px;
    }
    #texto-complem_mobile p{
        margin-block:0px;
        color: white;
        padding-inline: 20px;
        text-align: right;
        padding-block: 10px;
    }
    .conteudo h1{
        color: #ffffff;
        font-weight: bold;
        font-size: 30pt;
        margin-block: 5px;
    }
    .lista-conteudo {
    list-style: none;
    width: 90%;
    margin-block: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    }

    
    .conteudo h1{
        color: #ffffff;
        font-weight: bold;
        font-size: 20pt;
    }
    #depoimentos{
        padding-bottom: 20px;
    }
    #depoimentos h1{
        font-size: 20pt;
    }


    #grid {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    }
    #linha1-img_prova, #linha3-img_prova{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }
    #linha2-img_prova{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }
    .img-prova{
    border-radius: 10px;;
    height: 150px;
    display: flex;
    margin-inline: 0px;
    }

    #quem-somos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: 25px;
    }
    #area-title-quem-somos{
    width: 100%;
    }
    #p1, #p2{
    font-weight: bold;
    color: #ffffff;
    width: 100%;
    text-align: center;
    }
    #p1{
    font-size: 60pt;
    margin-bottom: -45px;
    margin-top: 0px;
    }
    #p2{
    font-size: 40pt;
    margin-top: -50px;
    margin-left: 50px;
    }
    #area-txt-quem_somos{
    width: 100%;
    font-size: 17pt;
    text-align: left;
    padding-inline: 10px;
    font-weight: bold;
    color: white;
    }

    #linha1{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-weight: bold;
    color: white;
    margin-block: 0px;
    padding-block: 0px;
    }
    #linha1 h1{
    margin-block: 0px;
    margin:0px;
    font-size: 30pt;
    }
    #contador{
    font-size: 80pt;
    margin-block: 0px;
    }
    #frase-alunos{
        margin-block: 0px;
        margin-top: -40px;
        font-weight: bold;
        color: #ffffff;
        padding-inline:15px;
        background-color: hwb(0 11% 87% / 0.055);
        border-radius: 5px;
        font-size: 15pt;
    }
    #linha2{
        color: white;
        font-weight: bold;
        margin-block: 5px;
        font-size: 20pt;
    }


    #inscricaoForm {
        min-width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    footer{
        padding-top: 10px;
    }
    footer p{
        margin-block: 0px;
    }
    #direitos{
        margin-top:5px;
    }
}